.header{
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--dark-blue);
    padding: 15px;
    box-shadow: 0px 1px 5px black;
    color: var(--white);
    z-index: 100;
}

.logo {
    cursor: pointer;
    max-width: 80%;
    height: auto;
    vertical-align: middle;
}

.credits {
    min-width: 100px;
    font-size: 0.8rem;
    font-weight: 300;
    text-align: right;
    line-height: 1.5;
}

@media (max-width:1000px) {
    .header{
        padding-top: 15px;
        font-size: 6.4vw;
    }
}