.main {
    min-height: 100vh;
    padding: 150px 0 70px 0;
    
}

@media (max-width: 700px){
    .main {
        padding-top: 100px;
    }
}

.pageTitle {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--dark-blue);
}

@media (max-width: 1000px){
    .pageTitle {
        font-size: 2rem;
    }
}